<%- model_class = Lore -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:ranking) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th>Votes</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lores.each do |lore| %>
      <tr data-content="<%= lore.content %>">
        <td><%= truncate(lore.content, length: 40) %></td>
        <td id="ranking-<%= lore.id %>"><%= lore.ranking %></td>
        <td><%= lore.title %></td>
        <td>
          <a class='btn up-vote' data-id="<%= lore.id %>"><i class="icon-thumbs-up"></i> Up</a>
          <a class='btn down-vote' data-id="<%= lore.id %>"><i class="icon-thumbs-down"></i> Down</a>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lore_path(lore), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lore_path(lore),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lore_path,
            :class => 'btn btn-primary' %>
